{
  "extends": "airbnb",
  "globals": {
    "expect": true,
    "it": true,
    "describe": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  "parser": "babel-eslint"
}
