{
  "extends": "airbnb",
  "globals": {
    "expect": true,
    "it": true,
    "describe": true,
    "jest": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/prefer-default-export": ["off"]
  },
  "parser": "babel-eslint"
}
